<ion-header>
  <ion-toolbar>
    <img id="icon-logout" src="assets/logout.svg" alt="logout" (click)="authService.logout()">
    <ion-title>INSIRA O NOME DA REPUBLICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="ion-margin-vertical">
    <ion-input placeholder="Nome Republica" [(ngModel)]="nomeRepublica"></ion-input>
  </ion-item>

  <ion-button (click)="selecionarMoradores()">Adicionar Morador</ion-button>
  <div>
    Você poderá adicionar novos moradores mais tarde.
  </div>

  <ion-list>
    <ion-item>
      <ion-label>{{criador}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let morador of moradores">
      <ion-label >{{morador}}</ion-label>
    </ion-item>
    
  </ion-list>
  <ion-button expand="block" (click)="criarRepublica()" [disabled]="!nomeRepublica">CRIAR REPUBLICA</ion-button>

</ion-content>