<ion-content fullscreen class="ion-padding ion-justify-content-end">

  <img class="logout-icon" src="assets/logout.svg" alt="" (click)= "logout()"/>
  <img class="background-image" src="assets/warning-background.svg" alt=""/>

  <ion-row class="ion-justify-content-center ion-margin-vertical">
    <div class="pre-home-title">Aparentemente você não tem um lar</div>
  </ion-row>

  <ion-row class="ion-justify-content-center ion-margin-vertical">
    <div class="pre-home-description">Procure sua rep, ou registre ela, caso não exista.</div>
  </ion-row>

  <ion-button expand="block">
    <ion-icon slot="start" name="star" ></ion-icon>
    PROCURAR REP
  </ion-button>

  <ion-button expand="block" (click)="redirectCriarRep()">
    <ion-icon slot="start" name="star" ></ion-icon>
    CRIAR REP
  </ion-button>

</ion-content>