<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()" >
        <ion-icon name="arrow-dropleft-circle" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ALTERE AS LEIS DA REPUBLICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let lei of leis; let i = index">
      <ion-icon name="trash" (click)="deletarLei(i)"></ion-icon>

      <ion-input [(value)]="lei.nome" (ionChange)="atualizaLei(i, $event)"></ion-input>
      <p (click)="mudarPontuacao(i)">
        {{lei.pontos}} pontos
      </p>

    </ion-item>
   
    <img src="/assets/add-icon.svg" alt="" id="add-img" (click)="novaLei()">


  </ion-list>

  <ion-button (click)="salvarMudancas()">SALVAR MUDANÇAS</ion-button>

</ion-content>