<ion-content fullscreen class="ion-padding ion-justify-content-end">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar"
            refreshingSpinner="circles" refreshingText="Atualizando dados...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-row class="ion-justify-content-left ion-margin-vertical perfil-info">
        <div>
            <div class="republica-title">{{republica.nome}}</div>
        </div>
    </ion-row>

    <ion-row class="ion-margin-vertical">
        <div class="rank-container">
            <div class="painel-azul">
                <div class="tarefa-title">Tarefas Feitas</div>
                <div class="saldo">{{totalTarefasSemana}}</div>
            </div>
            <div class="painel-cinza">
              
            </div>
        </div>
    </ion-row>

    <ion-row class="ion-margin-vertical">
        <div class="extrato-container">
            <div class="painel-cinza">
                <div class="lista lista-tarefas">
                    <div class="lista-title">ÚLTIMAS TAREFAS NA REP</div>
                    <div class="lista-item" *ngFor="let tarefa of tarefas">
                        <div class="lista-item-left">
                            <div class="lista-item-nome">{{tarefa.nome}}</div>
                            <div class="lista-item-usuario">{{tarefa.login}}</div>
                        </div>
                        <div class="lista-item-right">
                            <div class="lista-item-pontos">{{tarefa.valor}} pts</div>
                            <div class="lista-item-data">{{tarefa.data}}</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="painel-azul">
                <div>TAREFAS EM BONIFICAÇÃO</div>
                <div> ---- </div>
            </div>
        </div>
    </ion-row>

    <ion-row class="ion-margin-vertical">
        <div class="btn-tarefa" (click)="abrirModalCriarTarefas()" id="btnCriarTarefa">
            <img src="assets/tarefa-registrar.svg" alt="">
            <div class="btn-tarefa-label">CRIAR TAREFA</div>
        </div>
        <div class="btn-tarefa" (click)="abrirModalConcluirTarefas()" id="btnTarefaFeita">
            <img src="assets/tarefa-check.svg" alt="">
            <div class="btn-tarefa-label">TAREFA FEITA</div>
        </div>
    </ion-row>

</ion-content>