@import "~src/theme/colors.scss";
.perfil-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    img{
        height: 40px;
        width: 40px;
        object-fit: cover;
        border-radius: 5px;
        margin-right: 10px;
    }
}

.rank-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: $painel;

    & > div{
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        border-radius: 10px;

        &.painel-cinza{
            display: flex;
            flex-direction: column;
            #posicao-container{
                display: flex;
                flex-direction: row;
                color: $texto;
                align-items: baseline;
                #posicao{
                    font-size: 26px;
                    font-weight: bold;
                    margin-right: 10px;
                }
            }
            .click-text{
                margin-top: 10px;
                color: $azul;
                font-size: 12px;
            }
        }

        &.painel-azul{
            #saldo{
                font-size: 26px;
                font-weight: bold;
                margin-top: 10px;
            }
        }
    }
}

.extrato-container{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: $azul;

    & > div {
        border-radius: 10px;
    }

    .painel-cinza{
        height: 85%;
    }
    .painel-azul{
        display: flex;
        flex-direction: row;
        height: 15%;
        align-items: center;
        img{
            margin: 0 10px;
        }
    }
}

.lista{
    padding: 5px;
    &-title{    
        color: $azul;
        margin: 5px 0;
        font-weight: bold;
    }
    &-item{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 5px;
        &-nome{
            width: 80%;
        }

        &-pontos{
            color: $verde;
        }
    }
}
