<ion-content fullscreen class="ion-padding ion-justify-content-end">

    <ion-row class="ion-justify-content-left ion-margin-vertical perfil-info">
        <img src="assets/perfil.jpg" alt=""/>
        <div>
            <div>{{usuario.nome}}</div>
            <div>{{usuario.republica}}</div>
        </div>
    </ion-row>

    <ion-row class="ion-margin-vertical">
        <div class="rank-container">
            <div class="painel-azul">
                <div>PONTUAÇÃO</div>
                <div id="saldo">{{usuario.saldo}}</div>
            </div>
            <div class="painel-cinza">
                <div id="posicao-container"><div id="posicao">{{colocacao}}</div> <div>COLOCADO</div></div>
                <div class="click-text" (click)="router.navigate(['/rank'])"> VER RANK COMPLETO </div>
            </div>
        </div>
    </ion-row>

    <ion-row class="ion-margin-vertical">
        <div class="extrato-container">
            <div class="painel-cinza">
                <div class="lista lista-tarefas">
                    <div class="lista-title" *ngIf="tarefas.length > 0">ÚLTIMAS TAREFAS</div>
                    <div class="lista-item" *ngFor="let tarefa of tarefas">
                        <div class="lista-item-nome">{{tarefa.nome}}</div>
                        <div class="lista-item-pontos">{{tarefa.valor}} pts</div>
                    </div>
                </div>
                <div class="lista lista-ocorrencias">
                    <div class="lista-title" *ngIf="ocorrencias.length > 0">ÚLTIMAS OCORRENCIAS</div>
                    <div class="lista-item" *ngFor="let ocorrencia of ocorrencias">
                        <div class="lista-item-nome">{{ocorrencia.nome}}</div>
                        <div class="lista-item-pontos">{{ocorrencia.pontos}} pts</div>
                    </div>
                </div>
                
            </div>
            <div class="painel-azul">
                <img src="assets/extrato-icon-white.svg" alt="">
                <div>VER EXTRATO COMPLETO</div>
            </div>
        </div>
    </ion-row>

</ion-content>