<ion-content fullscreen class="ion-padding ion-justify-content-end">

    <ion-row class="ion-justify-content-left ion-margin-vertical perfil-info">
        <img src="assets/perfil.jpg" alt=""/>
        <div>
            <div>{{usuario.nome}}</div>
            <div>{{usuario.republica}}</div>
        </div>
    </ion-row>

    <ion-row>
        <div class="rank-container">
            <div class="painel-azul">
                <div>PONTUAÇÃO</div>
                <div id="saldo">{{usuario.saldo}}</div>
            </div>
            <div class="painel-cinza">
                <div id="posicao-container"><div id="posicao">{{colocacao}}</div> <div>COLOCADO</div></div>
                <div class="click-text"> VER RANK COMPLETO </div>
            </div>
        </div>
    </ion-row>

    <ion-row class="row">
        <div class="extrato-container">
            <div class="painel-cinza"></div>
            <div class="painel-azul"></div>
        </div>
    </ion-row>

</ion-content>