<ion-content fullscreen class="ion-padding ion-justify-content-end">

  <ion-row class="ion-justify-content-center ion-margin-vertical perfil-content">
    <img src="assets/perfil.jpg" alt="" class="img-perfil"/>
    <div class="perfil-title">ALTERAR FOTO DE PERFIL</div>
  </ion-row>

  <ion-row class="ion-justify-content-center">
    <div class="title-text">dados pessoais</div>
  </ion-row>
  
  <ion-item class="ion-margin-vertical">
    <ion-input placeholder="usuário" [(ngModel)]="cadastro.username"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-vertical">
    <ion-input placeholder="apelido" [(ngModel)]="cadastro.nickname"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-vertical">
    <ion-input placeholder="e-mail" [(ngModel)]="cadastro.email"></ion-input>
  </ion-item>
  <ion-row class="ion-justify-content-center">
    <div class="title-text">informar senha</div>
  </ion-row>
  <ion-item class="ion-margin-vertical">
    <ion-input placeholder="senha" type="password" [(ngModel)]="cadastro.password"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-vertical">
    <ion-input placeholder="confirmar senha" type="password" [(ngModel)]="confirmPass"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="cadastrar()" [disabled]="verificaCampos()">CADASTRAR</ion-button>
 

</ion-content>